VITE_SUPABASE_URL=http://localhost:5173
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InF1cnJ5aWdkcXBua2h1eHRkeG54Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgwMzQ3MzksImV4cCI6MjA5MzYxMDczOX0.eoAon4uthlNJ_okS0JXy0aBRMG_ho2fVGrClgilsMHQ
VITE_API_BASE_URL=http://localhost:8000
